<a href="https://colab.research.google.com/github/Papitasrancheras/Extraccion_datos/blob/main/Act1_1_Extraccion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
precios = pd.read_csv("Detalle precios y productos fabricados 2022.csv")
precios

In [18]:
#Verificamos información del DataFrame
precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   object
 2   NOMBRE                     1424 non-null   object
 3   NOMBRE.1                   1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   object
 8   COSTO_UNITARIO             1426 non-null   object
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   object
 10  SUBTOTAL_PARTIDA           1426 non-null   object
 11  COSTO_TOTAL_CALCULADO      1426 non-null   object
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   object
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   object
dtypes: int64(1), object(13)
memory usage: 156.1+ KB

In [10]:
#Imprimo los primeros 5 registro del dataframe
precios.head()

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
1,F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
2,F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
3,F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
4,F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41

In [11]:
# Imprimo los nombres de las columnas 
precios.columns

Index(['CVE_DOC', 'FECHA_DOC', 'NOMBRE', 'NOMBRE.1', 'CANT', 'CVE_ART',
       'DESCR', 'PRECIO_UNITARIO', 'COSTO_UNITARIO',
       'COSTO_UNITARIO_CALCULADO', 'SUBTOTAL_PARTIDA', 'COSTO_TOTAL_CALCULADO',
       'MARGEN_UNITARIO_CALCULADO', 'MARGEN_TOTAL_CALCULADO'],
      dtype='object')

### Filtro 1: Por objeto

In [14]:
# Exploramos los registros de nombre.
precios["NOMBRE"].value_counts()

LETICIA RAMIREZ HERNANDEZ    895
ALFREDO CANELA               335
DIEGO ARMANDO LEON DURAN     120
AARON NUÑO CORDOVA            72
ATENCION A CLIENTES            2
Name: NOMBRE, dtype: int64

In [16]:
# Haremos un filtro que nos permita ver todas las instancias en las que el NOMBRE sea DIEGO ARMANDO LEON DURAN
filtro1=precios[precios["NOMBRE"] == "DIEGO ARMANDO LEON DURAN"]
filtro1

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
2,F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
3,F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
6,F37044,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,"$14,000","$5,323.76","$5,323.76","$14,000","$5,323.76","$8,676.24","$8,676.24"
8,F37048,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA","$1,615",$517.89,$517.89,"$1,615",$517.89,"$1,097.11","$1,097.11"
9,F37049,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA","$1,615",$517.89,$517.89,"$1,615",$517.89,"$1,097.11","$1,097.11"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,F38005,27/04/2022 00:00,DIEGO ARMANDO LEON DURAN,MARCEGAGLIA MEXICO,5,TUE00261,"TUB INOX 3/8""ØX395MM CIR/ALETA 8500W230V","$6,300",$694.60,$694.60,"$31,500","$3,472.99","$5,605.40","$28,027.01"
580,F38141,12/05/2022 00:00,DIEGO ARMANDO LEON DURAN,DISMAPP PRODUCTOS IMPRESOS,2,BC00027,BC PLANA 132MMX280MM 2000W240V OCTAGO-TJ,"$2,750",$797.54,$797.54,"$5,500","$1,595.08","$1,952.46","$3,904.92"
731,F38459,24/06/2022 00:00,DIEGO ARMANDO LEON DURAN,MEXICANA DE INGENIERIA Y MAQUINARIA,3,CAE00011,"CAE 9.4MMØx2""LONG ESC90°150W 220V Ext22""",$375,$0,$122.35,"$1,125",$367.04,$252.65,$757.96
851,F38665,26/07/2022 00:00,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,"$14,000",$0,$277.50,"$14,000",$277.50,"$13,722.50","$13,722.50"
1296,F39592,16/11/2022 00:00,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,"$14,000",$0,$277.50,"$14,000",$277.50,"$13,722.50","$13,722.50"

### Filtro 2: Por filas

In [19]:
# Supongamos que estamos interesados en mostrar la primera y la última instancia
filtro2=precios.iloc[ [0, 1425] , : ]  #Filas no consecutivas 
filtro2

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
1425,F39838,23/12/2022 00:00,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,"$1,406",$0,$80.66,"$14,060",$806.55,"$1,325.34","$13,253.45"

### Filtro 3: Por columnas

In [23]:
#Filtraremos un dataframe con 4 columnas: NOMBRE, DESCR, PRECIO_UNITARIO Y COSTO_UNITARIO
filtro3=precios.iloc[ : , [2,6,7,8]] #Columnas no consecutivas
filtro3

,NOMBRE,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO
0,LETICIA RAMIREZ HERNANDEZ,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80
1,LETICIA RAMIREZ HERNANDEZ,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18
2,DIEGO ARMANDO LEON DURAN,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68
3,DIEGO ARMANDO LEON DURAN,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96
4,LETICIA RAMIREZ HERNANDEZ,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71
...,...,...,...,...
1421,LETICIA RAMIREZ HERNANDEZ,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",$712,$102.31
1422,LETICIA RAMIREZ HERNANDEZ,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",$718.60,$104.69
1423,LETICIA RAMIREZ HERNANDEZ,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP","$2,182.35",$0
1424,LETICIA RAMIREZ HERNANDEZ,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT","$5,909.84","$1,884.35"
1425,AARON NUÑO CORDOVA,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,"$1,406",$0

### Filtro 4: Filas vs columnnas

In [ ]:
# Utilizamos los valores de la columna 2 "NOMBRE" y los asignamos como índice 
df1= pd.read_csv('Detalle precios y productos fabricados 2022.csv', index_col=2)
df1

In [31]:
# En este filtro utilizaremos la transformación anterior para mostrar los índices LETICIA RAMIREZ HERNANDEZ","AARON NUÑO CORDOVA
# Y su valor de la columna SUBTOTAL_PARTIDA
filtro4= df1.loc[["LETICIA RAMIREZ HERNANDEZ","AARON NUÑO CORDOVA"], ["SUBTOTAL_PARTIDA"]]
filtro4

                          SUBTOTAL_PARTIDA
NOMBRE
LETICIA RAMIREZ HERNANDEZ          $434.48
LETICIA RAMIREZ HERNANDEZ        $1,264.05
LETICIA RAMIREZ HERNANDEZ          $344.83
LETICIA RAMIREZ HERNANDEZ          $474.14
LETICIA RAMIREZ HERNANDEZ          $283.50
...                                    ...
AARON NUÑO CORDOVA               $1,851.64
AARON NUÑO CORDOVA                  $3,821
AARON NUÑO CORDOVA               $4,040.84
AARON NUÑO CORDOVA               $2,354.14
AARON NUÑO CORDOVA                 $14,060

[967 rows x 1 columns]

### Filtro 5: Por cabecera

In [65]:
# Utilizamos la función head para mostrar los primeros 10 registros de nuestro dataframe 
filtro5 = precios.head(10)

### Filtros para variables cuantitativas

### Filtro 6: Mayor qué

In [58]:
# Mostraremos las instancias en las que el COSTO_UNITARIO es mayor a 1000
# Para este filtro mostramos las instancias en las que los valores de CANT sean mayor que 10 
filtro6 = precios[precios["CANT"] > 10]
filtro6

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
29,F37078,07/01/2022 00:00,ALFREDO CANELA,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,"$1,299.32",$305.44,$305.44,"$38,979.60","$9,163.18",$993.88,"$29,816.42"
31,F37086,10/01/2022 00:00,ALFREDO CANELA,CLAVOS NACIONALES C.N,30,BOBINA001,BOBINA CAL.8 DSD C/TERMINALES EN INOX,"$1,299.32",$305.44,$305.44,"$38,979.60","$9,163.18",$993.88,"$29,816.42"
38,F37098,12/01/2022 00:00,DIEGO ARMANDO LEON DURAN,REDYPLAST,40,CBS00045,"CART INOX 3/8""Øx8"" 340W, 220V CABLE 35CM",$259.60,$64.85,$64.85,"$10,384","$2,594.17",$194.75,"$7,789.83"
74,F37169,21/01/2022 00:00,ALFREDO CANELA,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,30,ECQ-00972,"TUB. ENCAPSULADA 5/16Øx780mm 1500W 240V""","$1,475.30",$275.50,$275.50,"$44,259","$8,264.95","$1,199.80","$35,994.05"
85,F37187,25/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,ROQUE AVINAR RAMIREZ SERRANO,12,TEA00058,"TER J 1/8""Øx115mm LONG EXT. DE 1220mm CL",$431.50,$95.96,$95.96,"$5,178","$1,151.56",$335.54,"$4,026.44"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361,F39719,07/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,ROSA MARIA HERNANDEZ AGUILAR,25,CBS00092,CBS INOX 20MMØX68CM 1200W 254V EXT.25CM,"$1,457.20",$0,$461.49,"$36,430","$11,537.18",$995.71,"$24,892.82"
1365,F39731,08/12/2022 00:00,ALFREDO CANELA,PROVEEDORA DE SEGURIDAD INDUSTRIAL DEL GOLFO,20,ECQ-00972,"TUB. ENCAPSULADA 5/16Øx780mm 1500W 240V""","$1,475.30",$315.59,$315.59,"$29,506","$6,311.82","$1,159.71","$23,194.18"
1391,F39777,16/12/2022 00:00,ALFREDO CANELA,DWK LIFE SCIENCES,12,BO00061,BOB DSD CAL.12 17.7MMØX55CM 5.2 OHMS,"$3,090",$89.98,$179.95,"$18,540","$1,079.71","$2,910.05","$17,460.29"
1397,F39794,20/12/2022 00:00,AARON NUÑO CORDOVA,TE.MEX AUTOMOTIVE,26,CAS00083,CAS INOX 12.5MMØX125MM 300W 280V EXT1MT,$792.11,$131.45,$131.45,"$20,594.86","$3,417.80",$660.66,"$17,177.06"
1403,F39810,22/12/2022 00:00,ALFREDO CANELA,DONGA HWASUNG MEXICO,16,CBS00109,"CBS INOX 5/8""ØX66CM 800W 480V EXT30CM","$1,981.88",$0,$333.62,"$31,710.08","$5,337.90","$1,648.26","$26,372.18"

### Filtro 7: Utilizando conectores lógicos

In [59]:
# Aquí filtraremos aquellas instancias en las que la columna CANT sea menor a 10 y la columna FECHA_DOC sea igual a 10/01/2022 00:00
filtro7=precios[(precios["CANT"] < 10) & (precios["FECHA_DOC"] == "10/01/2022 00:00")]
filtro7

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
30,F37083,10/01/2022 00:00,ALFREDO CANELA,PEDRO ANTONIO SOTO IBARRA,6,TUE00247,"TUB INOX 7/16""ØX490MM U ESP 3200W 220V",$856.04,$295.24,$295.24,"$5,136.22","$1,771.42",$560.80,"$3,364.80"
32,F37087,10/01/2022 00:00,DIEGO ARMANDO LEON DURAN,MARIA MEDINA LEON,1,TUE00320,"TUB INOX 1/4""ØX6"" 1675W 120V PARRILLA",$601.23,$178.60,$178.60,$601.23,$178.60,$422.63,$422.63

### Filtro 8: Filtro o

In [62]:
# Aquí filtraremos aquellas instancias en las que la columna CANT sea menor a 5 o la columna FECHA_DOC sea igual a 10/01/2022 00:00
filtro8=precios[(precios["CANT"] < 5) | (precios["FECHA_DOC"] == "10/01/2022 00:00")]
filtro8

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
1,F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
3,F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
4,F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41
5,F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,$237.07,$49.41,$49.41,$474.14,$98.82,$187.66,$375.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00145,BAN INOX 146MMØX40MM 500W230V CINT/ALLEN,"$1,910.50",$286.13,$286.13,"$3,821",$572.25,"$1,624.37","$3,248.75"
1419,F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00146,"BAN INOX 9""ØX3"" ANCH 1700W 230V T/CABLE","$2,020.42",$421.91,$421.91,"$4,040.84",$843.82,"$1,598.51","$3,197.02"
1420,F39833,23/12/2022 00:00,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,"$1,177.07",$477.16,$477.16,"$2,354.14",$954.32,$699.91,"$1,399.82"
1423,F39835,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP","$2,182.35",$0,$596.55,"$6,547.05","$1,789.64","$1,585.80","$4,757.41"
1424,F39837,23/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT","$5,909.84","$1,884.35","$1,884.35","$5,909.84","$1,884.35","$4,025.49","$4,025.49"

### Filtro 9: Filtro not

In [63]:
# # Aquí filtraremos aquellas instancias en las que la columna CANT no sean menor a 5 y
# en las que la columna FECHA_DOC no sea igual a 10/01/2022 00:00
filtro9=precios[~(precios["CANT"] >= 10) & ~(precios["FECHA_DOC"] == "23/12/2022 00:00")]
filtro9

,CVE_DOC,FECHA_DOC,NOMBRE,NOMBRE.1,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",$434.48,$52.80,$52.80,$434.48,$52.80,$381.68,$381.68
1,F37036,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT","$1,264.05",$327.18,$327.18,"$1,264.05",$327.18,$936.87,$936.87
2,F37041,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,$551.61,$177.68,$177.68,"$3,861.29","$1,243.73",$373.94,"$2,617.56"
3,F37042,05/01/2022 00:00,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,$140,$38.96,$38.96,$140,$38.96,$101.04,$101.04
4,F37043,05/01/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,$172.41,$101.71,$101.71,$344.83,$203.42,$70.71,$141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,F39815,22/12/2022 00:00,ALFREDO CANELA,START SERVICE,1,RP00230,REPARACION DE PLANCHA DE CARTUCHOS 220V,"$5,668.99",$0,"$1,319.88","$5,668.99","$1,319.88","$4,349.11","$4,349.11"
1408,F39815,22/12/2022 00:00,ALFREDO CANELA,START SERVICE,1,RP00231,REPARACION DE MAQUINA,"$2,300",$0,$99.68,"$2,300",$99.68,"$2,200.32","$2,200.32"
1409,F39816,22/12/2022 00:00,ALFREDO CANELA,TOSTADAS FANNY,6,TUA00492,"TUB INOX 1/2""ØX40CM 4000W 220V ""M"" BUSH","$2,959.68",$0,"$1,186.76","$17,758.08","$7,120.54","$1,772.92","$10,637.54"
1410,F39817,22/12/2022 00:00,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,TP0016,"TERMOPAR CERAMICO T/K"" LONG 24"" CAL 8""",$732,$0,$317.50,"$1,464",$635,$414.50,$829
1411,F39820,22/12/2022 00:00,AARON NUÑO CORDOVA,ABASTECIMIENTOS Y SERVICIOS ELECTRONICOS PROFE...,1,TU5/16X230MM,"TUBULAR J"" 5/16"" 230MM 4500W 220V""","$1,000",$226.23,$226.23,"$1,000",$226.23,$773.77,$773.77

### Generación de CSV´s

In [66]:
filtro1.to_csv("Filtro1.csv")
filtro2.to_csv("Filtro2.csv")
filtro3.to_csv("Filtro3.csv")
filtro4.to_csv("Filtro4.csv")
filtro5.to_csv("Filtro5.csv")
filtro6.to_csv("Filtro6.csv")
filtro7.to_csv("Filtro7.csv")
filtro8.to_csv("Filtro8.csv")
filtro9.to_csv("Filtro9.csv")