<a href="https://colab.research.google.com/github/Papitasrancheras/Extraccion_datos/blob/main/Actividad1_2_Extraccion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
df = pd.read_excel("Datos de Facturación.xlsx")
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0

### Filtro 1: CVE_CLPV (valores: 1000 a 2000)

In [92]:
# Filtramos los valores de las instancias de 1000 a 2000
df['CVE_CLPV'] = df['CVE_CLPV'].str.extract('(\d+)')
df['CVE_CLPV'] = df['CVE_CLPV'].dropna()
df = df.dropna(subset=['CVE_CLPV'])
df['CVE_CLPV'] = df['CVE_CLPV'].astype(int)

filtro1 =df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
filtro1

<ipython-input-92-249f889dcda7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CVE_CLPV'] = df['CVE_CLPV'].astype(int)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.50,0.00,0
22,F29436,1965,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.50,0.00,0
65,F29479,1240,E,2.0,2019-09-11 18:38:45.000,2019-09-11,2019-09-11 00:00:00,2019-09-11,NaT,4135.00,0.00,0
71,F29485,1965,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.50,146.48,0
72,F29486,1965,E,2.0,2019-09-12 12:25:52.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,NaT,976.50,146.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,F40237,1757,E,2.0,2023-02-24 15:18:17.570,2023-02-24,2023-02-13 00:00:00,2023-02-24,NaT,10088.40,0.00,0
10839,F40255,1583,E,2.0,2023-02-28 09:15:45.753,2023-02-28,2023-02-28 00:00:00,2023-03-30,NaT,3467.35,0.00,0
10845,F40261,1786,E,2.0,2023-02-28 11:15:32.527,2023-02-28,2023-03-03 00:00:00,2023-02-28,NaT,4663.80,0.00,0
10871,F40287,1453,E,1.0,2023-03-01 12:58:23.397,2023-03-01,2023-02-27 00:00:00,2023-03-31,NaT,9000.00,0.00,0
10876,F40292,1082,E,6.0,2023-03-02 11:00:54.770,2023-03-02,2023-03-01 00:00:00,2023-03-02,NaT,3262.00,0.00,0

In [93]:
df["CVE_CLPV"]

0        2465
1        3926
2        3926
3        3926
4        6813
         ...
10890    8842
10891    6218
10892    5926
10893     361
10894    3011
Name: CVE_CLPV, Length: 10879, dtype: int64

### Filtro 2: CVE_VEND (Todas las claves excepto 5 y 4)

In [102]:
# Filtramos todos los valores para CVE_VEND a excepción de 5 y 4 
filtro2 = df[~df['CVE_VEND'].isin([4, 5])]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,NaT,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,NaT,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,NaT,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,NaT,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,NaT,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,NaT,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,NaT,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,NaT,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,NaT,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,NaT,2023-03-07,NaT,517.20,0.0,0

### Filtro 3: FECHA_ENT(Fechas de 28/02/2022)

In [95]:
# Primero convertimos la fecha 
df['FECHA_ENT'] = pd.to_timedelta(df['FECHA_ENT'], errors='coerce')
filtro3 = df[df["FECHA_ENT"] == "2022-02-28"]
filtro3 
# :(

<ipython-input-95-7083c348a1e3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FECHA_ENT'] = pd.to_timedelta(df['FECHA_ENT'], errors='coerce')

Empty DataFrame
Columns: [CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, FECHA_CANCELA, CAN_TOT, DES_TOT, DES_FIN]
Index: []

### Filtro 4: CANT_TOT(Cantidades menores a 5951.7) o STATUS ("E")

In [96]:
filtro4 = df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,NaT,2019-09-18,2019-09-04,3980.00,0.0,0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,NaT,2019-10-03,2019-09-03,1550.00,0.0,0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,NaT,2019-10-03,2019-09-03,1550.00,0.0,0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,NaT,2019-10-03,2019-09-17,1550.00,0.0,0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,NaT,2019-09-03,2019-09-10,2435.44,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,NaT,2023-03-06,NaT,3272.00,0.0,0
10891,F40307,6218,E,2.0,2023-03-06 16:38:42.933,2023-03-06,NaT,2023-03-06,NaT,504.15,0.0,0
10892,F40308,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,NaT,2023-03-06,NaT,275.68,0.0,0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,NaT,2023-03-07,NaT,129.30,0.0,0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,NaT,2023-03-07,NaT,517.20,0.0,0

### Sólo las columnas CVE_DOC, FECHA_ENT, FECHA_VEN, CANT_TOT

In [97]:
filtro5 = df.iloc[ : , [0,6,7,9]]  #Columnas no consecutivas 
filtro5

      CVE_DOC FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414       NaT 2019-09-18  3980.00
1      F29415       NaT 2019-10-03  1550.00
2      F29416       NaT 2019-10-03  1550.00
3      F29417       NaT 2019-10-03  1550.00
4      F29418       NaT 2019-09-03  2435.44
...       ...       ...        ...      ...
10890  F40306       NaT 2023-03-06  3272.00
10891  F40307       NaT 2023-03-06   504.15
10892  F40308       NaT 2023-03-06   275.68
10893  F40309       NaT 2023-03-07   129.30
10894  F40310       NaT 2023-03-07   517.20

[10879 rows x 4 columns]

### Sólo las filas de 7001-7099

In [98]:
filtro6= df.iloc[7001:8000,: ]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7010,F36426,6545,E,2.0,2021-10-15 12:15:51.957,2021-10-15,NaT,2021-10-15,NaT,1224.40,0.0,0
7011,F36427,6545,E,2.0,2021-10-15 12:17:25.747,2021-10-15,NaT,2021-10-15,NaT,1224.40,0.0,0
7012,F36428,6545,E,2.0,2021-10-15 12:20:07.887,2021-10-15,NaT,2021-10-15,NaT,489.60,0.0,0
7013,F36429,248,E,2.0,2021-10-15 12:35:03.610,2021-10-15,NaT,2021-10-15,NaT,540.00,0.0,0
7014,F36430,6797,E,2.0,2021-10-15 13:29:23.007,2021-10-15,NaT,2021-10-15,NaT,855.54,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8006,F37422,5926,E,2.0,2022-02-18 17:50:07.097,2022-02-18,NaT,2022-02-18,NaT,239.66,0.0,0
8007,F37423,1284,E,2.0,2022-02-21 09:01:42.363,2022-02-21,NaT,2022-03-23,NaT,1645.00,0.0,0
8008,F37424,1284,E,2.0,2022-02-21 11:35:44.447,2022-02-21,NaT,2022-03-23,NaT,120.00,0.0,0
8009,F37425,8588,E,2.0,2022-02-21 11:37:00.167,2022-02-21,NaT,2022-02-21,NaT,1280.67,0.0,0
8010,F37426,6225,E,1.0,2022-02-21 13:58:30.280,2022-02-21,NaT,2022-02-21,NaT,2068.50,0.0,0

### Index = CVE_VEND(VALORES: 1 Y 2) (columna FECHAELAB)

In [99]:
# Primero nos quedamos con los valores 1 y 2 de CVE_VEND
df_1 = df[df['CVE_VEND'].isin([1, 2])]
df_1 = df_1.set_index('CVE_VEND')
df_1

# Segunda parte 
filtro7 =df_1.loc[[1.0,2.0], ["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2019-09-03 08:58:42.000
1.0      2019-09-03 09:55:14.000
1.0      2019-09-03 13:25:33.000
1.0      2019-09-03 13:33:23.000
1.0      2019-09-04 09:15:12.000
...                          ...
2.0      2023-03-06 16:09:39.013
2.0      2023-03-06 16:38:42.933
2.0      2023-03-06 17:02:33.390
2.0      2023-03-07 12:43:49.567
2.0      2023-03-07 12:45:58.407

[8652 rows x 1 columns]

### Generación de CSV

In [103]:
filtro1.to_csv("FiltroA.csv")
filtro2.to_csv("FiltroB.csv")
filtro3.to_csv("FiltroC.csv")
filtro4.to_csv("FiltroD.csv")
filtro5.to_csv("FiltroE.csv")
filtro6.to_csv("FiltroF.csv")
filtro7.to_csv("FiltroG.csv")